

h1 {
    position: absolute;
    text-align: center !important;
    margin-bottom: 100px !important;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}