.modal-trigger {
    width: 300px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal-trigger:hover {
    transform: scale(1.05);
}

.modal {
    display: none; !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal:target {
    display: flex;
}


.modal-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


.modal:target .modal-container {
    transform: translate(-50%, -50%);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #000;
    cursor: pointer;
}

.modal-img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin: auto;
    object-fit: contain;
}

.modal .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


