<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erhverv Landing-page</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<h1>
    DANMARK MOD MADSPILD
</h1>
<div class="nav">

    <div class="sidebar">
        <div class="buttons">
            <a href="/erhverv">
                <span>Erhverv</span>
            </a>|
            <span class="selected">Privat</span>
        </div>
    </div>

    <div class="nav-links">
        <a href="/login"><span>LOG IN</span></a> |
        <a href="/tips"><span>TIPS</span></a> |
        <a href="/raffle"><span>RAFFLE</span></a> |
        <a href="/kontakt"><span>KONTAKT</span></a> |
        <a href="/om"><span>ABOUT</span></a>
    </div>
</div>

<div id="footer-placeholder">


<script>
    fetch("footer.html")
        .then(response => response.text())
        .then(data => document.getElementById("footer-placeholder").innerHTML = data);
</script>


</div>

</body>
</html>