<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<h1>DANMARK MOD MADSPILD</h1>
<div class="nav">
    <div class="sidebar">
        <div class="buttons">
            <span class="selected">Erhverv</span> |
            <span>Privat</span>
        </div>
    </div>
    <div class="nav-links">
        <span>LOG IN</span> |
        <span>TIPS</span> |
        <span>EVENT</span> |
        <span>RAFFLE</span> |
        <span>KONTAKT</span> |
        <span>ABOUT</span>
    </div>
</div>
<div class="eventContainer">
    <div class="content">
        <p><strong>Den gennemsnitlige restaurant smider mad ud, svarende til 4 elefanter, HVER DAG?!?!?!</strong></p>
        <h2>Få styr på jeres mad-spild</h2>
        <p>Eget køkken. Egen underviser og ingen opvask. Dét er da opskriften på en succes-aften. I bestemmer selv menuen, og alle drikkevarer er som altid inkluderet i prisen.</p>
        <p><strong>Op til 10.000 personer</strong></p>
        <p>4 timers varighed</p>
        <p>Afholdes søndag og mandag</p>
        <p>Afholdt af førende eksperter</p>
        <p><strong>Priser fra 1295,- inkl. moms pr. person</strong></p>
        <p>Min. 12 personer.</p>
        <button class="cta-button">DELTAG</button>
    </div>
    <img src="elephant-image.png" alt="4 Elephants" class="elephant">
</div>
</body>
</html>