<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/test.css">
</head>

<body>


<h1>DANMARK MOD MADSPILD</h1>
<div id="navbar-placeholder">
    <script>
        fetch("navbarprivat.html")
            .then(response => response.text())
            .then(data => {
                document.getElementById("navbar-placeholder").innerHTML = data;

                let currentPage = window.location.pathname.split("/").pop();
                let links = document.querySelectorAll(".nav-link")

                links.forEach(link =>{
                    if(link.getAttribute("href") === currentPage){
                        link.classList.add("active")
                    }
                });
            });

    </script>
</div>

<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="Username" required>

        <label for="password"></label>
        <input type="password" id="password" placeholder="Password" required>

        <button type="submit">Log In</button>
    </form>
    <div class="login-links" style="text-align: center; margin-top: 15px;">
        <a href="/opret" style="text-decoration: none; color: gray;">Opret bruger</a>
    </div>
    <div class="login-links" style="text-align: center; margin-top: 5px;">
        <a href="/glemt.html" style="text-decoration: none; color: gray;">Glemt kodeord?</a>
    </div>
</div>

<div>
<script>
    fetch("footer.html")
        .then(response => response.text())
        .then(data => document.getElementById("footer-placeholder").innerHTML = data);
</script>
</div>

<script>
    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        if (username === "erhverv" && password === "erhverv") {
            window.location.href = "/event";
        } else if (username === "privat" && password === "privat") {
            window.location.href = "/raffle"
        } else if (username === "restaurant" && password === "restaurant"){
            window.location.href = "/restaurant"
        } else{
            alert("forkert username eller adgangskode")
        }
    });
</script>

</body>
</html>