<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om os</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/event.css">
</head>
<body>
<h1>
    DANMARK MOD MADSPILD
</h1>

<div id="navbar-placeholder">
    <script>
        fetch("navbarprivat.html")
            .then(response => response.text())
            .then(data => {
                document.getElementById("navbar-placeholder").innerHTML = data;

                let currentPage = window.location.pathname.split("/").pop();
                let links = document.querySelectorAll(".nav-link")

                links.forEach(link =>{
                    if(link.getAttribute("href") === currentPage){
                        link.classList.add("active")
                    }
                });
            });

    </script>


</div>



<div class="about-wrapper">
    <h2>Hvem er DMM?</h2>
    <div class="about-container">
        <div class="about-text">
            Her hos <strong>Danmark mod Madspild</strong> har vi én mission:
            at reducere madspild markant i Danmark. Hvert år går tonsvis af
            mad til spilde, selvom meget af det stadig er spiseligt. Vi arbejder
            for at skabe en kulturændring, hvor både forbrugere og virksomheder
            tager ansvar for at mindske madspild.
            <p> Hver eneste dag smides der enorme mængder mad ud fra både supermarkeder,
                restauranter, kantiner og private husholdninger. Ifølge statistikker
                bliver der alene i Danmark smidt omkring 814.000 tons mad ud hvert år.
                Dette har ikke kun økonomiske konsekvenser, men også store miljømæssige
                omkostninger. Fødevareproduktion kræver store mængder vand, energi og
                transport – og når mad går til spilde, går disse ressourcer også til spilde.</p>
            <p>Hos Danmark mod Madspild arbejder vi aktivt på flere niveauer for at
                reducere spildet. Vi samarbejder med restauranter og virksomheder for at
                redde overskudsmad, vi afholder events og kampagner for at øge bevidstheden,
                og vi giver konkrete tips og løsninger til, hvordan både virksomheder og
                private kan tage del i løsningen.</p>
            <p>Vil du være en del af kampen mod madspild? Tilmeld dig vores initiativer,
                læs vores tips og bliv en del af fællesskabet, der gør en forskel!</p>
            <p>Afholdt af førende eksperter fra den danske restaurationsbranche</p>
        </div>
        <img src="/happy-people-cooking.jpg" alt="madspild firma event">
    </div>
</div>


</body>
</html>