<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privat Landing-page</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/Tivstylesheet.css">
</head>
<body>
<h1>
    DANMARK MOD MADSPILD
</h1>
<div class="nav">

    <div class="sidebar">
        <div class="buttons">
            <a href="/erhverv">
        <span>Erhverv</span>
            </a>|
        <span class="selected">Privat</span>
        </div>
    </div>

    <div class="nav-links">
        <a href="/login"><span>LOG IN</span></a> |
        <a href="/tips"><span>TIPS</span></a> |
        <a href="/raffle"><span>RAFFLE</span></a> |
        <a href="/contact"><span>KONTAKT</span></a> |
        <a href="/about"><span>ABOUT</span></a>
    </div>
</div>

<div class="c1">
    <img id="1" src="/mad.webp" alt="madspild">
<div class="middle"><h1 class="h11">STOP MADSPILD - START DMM</h1></div>
    <div class="undermiddle">
        <button>LÆS MERE</button>
    </div>

</div>

<div>
    <img id="2" src="/sfw.png" alt="alt" width="1600" height="800">
    <div> </div>

</div>

<main id="main">
    <section class="contentMad">
        <div class="text">
            <h4>Mad for alle og enhver</h4>
            <h2>Vi sørger for maden - i spiser den</h2>
            <p>Stop med at bruge så lang tid i køkkenet</p>
            <button>SE ALLE TIPS</button>
            <button>SE ALLE MADSTEDER</button>
        </div>
        <div class="imgtilmad">
            <img src ="/hugge.jpg" alt="mad">

        </div>


    </section>

</main>

</body>
</html>