<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privat Landing-page</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<h1>
    DANMARK MOD MADSPILD
</h1>
<div class="nav">

    <div class="sidebar">
        <div class="buttons">
            <a href="/erhverv">
        <span>Erhverv</span>
            </a>|
        <span class="selected">Privat</span>
        </div>
    </div>

    <div class="nav-links">
        <span>LOG IN</span> |
        <span>TIPS</span> |
        <span>RAFFLE</span> |
        <span>KONTAKT</span> |
        <span>ABOUT</span>
    </div>
</div>
</body>
</html>